body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ded9d9;
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 580px;
}

#form{
    max-width: 90%;
    margin: 0 auto;
    padding: 4em 2em;
    color: #fff;
    border-radius: 20px;
    color: #000;
}

#form > h1{
    font-weight: 500;
}

strong{
    color: rgb(19, 194, 19);
}

#counter{
    font-weight: bold;
}

.bloquead{
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    display: none;
}

.bloquead i{
    font-size: 200px;
}